apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  name: monitoring
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/config/monitoring
    repoURL: https://github.com/rafaelbroseghini/homelab.git
    targetRevision: HEAD
  ignoreDifferences:
    - kind: Secret
      name: monitoring-grafana
      namespace: monitoring
      jsonPointers:
        - /data
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    - RespectIgnoreDifferences=true
    automated:
